body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #000000;
    width: 20%;
    padding:2.5%;
    height: 100vh;
    color: #fff;
    border-right : 5px solid #4d4d4d;
}

/*Блок изобр*/
aside img {
     width: 80px;
     float: left;
}
/*стили лого в левом блоке*/
aside .logo {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 13px;
}
/*Левый блок*/
aside h3{
    margin-top: 65px;
    font-size: 28px;

}



/*Прим стилей к строкам в левом блоке*/
aside ul {list-style: none}
aside a {text-decoration: none}
aside ul li {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .3s ease;
}
/*#Применение стилей при наведении на строку*/

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.1);
}


/* Style for main text*/
main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto  }

/*Обработка вывода News*/

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;


}

/* Обработка формы добавления новостей */
form {
    margin-left: 27%;
    width:500px;
    margin-top: 50px;
}