{% extends 'main/layout.html' %}

{% block title %} Form for appending some articles {% endblock %}

{% block content %}
    <div class="features">
        <h1> Form for appending some articles  </h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-outline-success" type="sumbit"> Append </button>
        </form>
    </div>

{% endblock %}